body {
  background-color: rgb(212, 99, 99);
  font-family: 'Baloo Bhai 2', cursive;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

a {
  color: #518bd5;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: #5865F2;
  transition: 0.5s;
}

#more-container a:not(.btn) {
  text-decoration: none;
  padding: 0px 1px;
  transition: 0.1s;
}

#more-container a:not(.btn):hover {
  background-color: #7fffd4b3;
  transition: 0.2s;
}

.jumbotron {
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100%;
}

h1.display-4 > a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.jumbotron > .container-fluid > * {
  margin-left: 20px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  color: black;
}

.card:not(#none-found) {
  margin: 10px;
  padding-bottom: 30px;
  width: 18rem;
  height: 325px;
  background-color: #eee;
}

#none-found {
  width: max-content;
  padding: 0;
}

.card:not(#none-found) :not(.card-text) > a {
  position: absolute;
  bottom: 10px;
}

#card-search-container {
  position: relative;
  margin-bottom: 50px;
  width: max-content;
}

#more-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
  min-height: 100%;
}

.install {
  margin-left: 30%;
}

::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}

::-webkit-scrollbar-corner {
  background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #575e62;
}
